.skill {
  margin-top: 15px;
}

.skill > span {
  font-size: 15px;
}

.skill-margin {
  margin: 0 0 22px 0;
}

.pill {
  font-weight: 500;
  padding: 4px 12px 6px;
  border-radius: 15px;
  background-color: #acccf0;
}