
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 200ms ease-out;
}
  
img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 8px;
}
  
.App-links-ul > a { 
    display: flex;
    align-items: center;
}
  
a:hover,
a:active,
a:focus {
    color: #5781B2;
}