.divider {
    height: 4px;
    background: silver;
    border: none;
    margin: 3px 0;
    overflow: initial;
    position: relative;
}

.divider-short {
    max-width: 70%;
}

.divider-fancy:before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 70px;
    top: -3px;
    border: none;
    background: #7ABCAC;
  }