.footer-box-title {
    color: white;
    text-align: center;
    font-size: 20x;
    background-color: #000000;
    width: 300px;
    text-align: center;
    margin: 0 auto 20px;
    text-transform: uppercase;
  }