h4 {
  font-size: 20px;
}

.content-box {
  margin: 30px 0;
}

.App-experience-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.App-links-ul {
  margin: 30px 0;
}

.App-links-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  height: 180px;
  width: 100%;
  margin: 0 0 64px 0;
}

.App-about-text {
  margin: 30px 0;
}

.App-links-ul > div > a {
  margin: 5px 0;
  font-weight: bold;
}

.App-links-ul > div > a:hover {
  color: orange;
  cursor: pointer;
}

.App-skills-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 30px 0;
}

.App-education {
  width: 350px;
}

.App-educ-title {
  font-weight: 600;
}

.App-educ-inner-text {
  font-weight: 400;
}

.App-skills {
  margin-top: 30px;
}

.App-skills > hr {
  margin: 16px 0;
}

.App-footer-title {
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 15px 0;
}

.App-contacts-link {
  text-decoration: none;
  color: black;
}

.App-contacts-link:hover {
  color: rgb(114,203,138);
}
