.job:first-child {
    border-right: 4px solid silver;
  }

.job:last-child {
    border-left: 4px solid silver;
  }

.job {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.experience-info {
    text-align: left;
}